{{#paper-toolbar
  tall=true
  class="app-header__toolbar md-whiteframe-1dp"
  data-test-app-header=true
  as |toolbar|
}}
  {{#app-grid}}

    {{#toolbar.tools}}

      {{organization-name}}

      <div class="flex"></div>

      {{auth-form onAuthorize=(action 'setAuthKey') }}

    {{/toolbar.tools}}

    {{repository-filters}}

  {{/app-grid}}
{{/paper-toolbar}}