<div class="layout-row layout-fill" data-test-app-grid=true >
  <div class="flex-gt-md-30 flex-md-20 flex-sm-10 flex-xs-5"></div>
  <div class="flex-gt-md-40 flex-md-60 flex-sm-80 flex-xs-90">
    {{yield}}
  </div>
  <div class="flex-gt-md-30 flex-md-20 flex-sm-10 flex-xs-5"></div>
</div>