{{#paper-menu
  position="target-right target"
  offset="-10 50"
  class="auth-form__container"
  registerAPI=(action 'registerAPI')
  as |menu|
}}
  {{#menu.trigger data-test-auth-form-trigger }}
    {{#paper-button iconButton=true }}
      {{paper-icon "vpn_key" class="md-menu-origin" }}
    {{/paper-button}}
  {{/menu.trigger}}
  {{#menu.content width=4 as |content|}}
    {{#paper-form
      onSubmit=(action 'submit' menu.actions.close )
      class="md-menu-align-target"
      as |form|
    }}
      <div class="layout-column">
        <div class="layout-column auth-form__notice">
          In order to asscess private repositories you have to provide a Github Access Token:
        </div>
        <div class="layout-column">
          {{form.input
            label="Github Auth Key"
            value=key
            hideAllMessages=true
            onChange=(action (mut key))
            onFocus=(action 'selectContent')
          }}
        </div>
        <div class="layout-column">
          {{#form.submit-button
            raised=true
            accent=true
          }}
            Authorize
          {{/form.submit-button}}
        </div>
      </div>
    {{/paper-form}}
  {{/menu.content}}
{{/paper-menu}}