<div data-test-error-message >

  <div class="error-message__title" data-test-error-message-title=true >
    Ooops...
  </div>

  <img
    src="/assets/images/sad_panda.png"
    class="error-message__image"
    data-test-error-message-image=true
  />

  <div class="error-message__text" data-test-error-message-text=true >
    {{message}}
  </div>

</div>