{{#if isEditMode }}

  {{#paper-dialog
    onClose=(action "closeDialog" "cancel")
    origin='.organization-name__edit-button'
  }}
    {{#paper-form onSubmit=(action 'changeOrganization') as |form| }}
      {{#paper-dialog-content data-test-organization-name-popup }}

        <h2 class="md-title">Github Organization name</h2>

        <p class="organization-name__input">
          Enter a Github Organization name which is a shorthand name of a company (e.g. "emberjs" for Ember.js):
        </p>

          {{form.input
            label="Organization name"
            autofocus=true
            value=name
            hideAllMessages=true
            class="md-block"
            onChange=(action (mut name))
            onFocus=(action 'selectInput')
            data-test-organization-name-input=true
          }}

      {{/paper-dialog-content}}
      {{#paper-dialog-actions class="layout-row"}}
        <span class="flex"></span>

        {{#paper-button primary=true onClick=(action "closeDialog") data-test-organization-name-cancel=true }}
          Cancel
        {{/paper-button}}

        {{#form.submit-button primary=true data-test-organization-name-submit=true }}
          Apply
        {{/form.submit-button}}

      {{/paper-dialog-actions}}
    {{/paper-form}}
  {{/paper-dialog}}

{{/if}}

{{#paper-button
  class="organization-name__edit-button"
  onClick=(action 'enableEditMode')
  data-test-organization-name=true
}}
  <div class="organization-name__title {{if organization.isEmpty 'organization-name__title--dimmed'}}">
    {{#if organization.isEmpty }}
      Organization
    {{else}}
      {{ buttonTitle }}
    {{/if}}
  </div>
  <span class="flex"></span>
  {{paper-icon "edit" size=18 class="organization-name__edit-icon" }}
{{/paper-button}}
