  <div class="repo-branch__name" data-test-repo-branch=true >
    {{paper-icon "panorama-fish-eye" size=8 accent=true class="repo-branch__bullet" }}
    <a href={{branchUrl}} target="_blank" class="repo-branch__link" >
      {{branch.name}}
    </a>
  </div>