<div class="layout-column layout-fill" data-test-repository-header=true >
  <div class="layout-row">
    <div class="md-panel-title layout-row">
      <div class="repository-header__title">
        {{ repository.name }}
      </div>
      {{#paper-button
        class="repository-header__icon-button"
        iconButton=true
        onClick=(action 'openRepo')
      }}
        {{ paper-icon "open_in_new" size=18 }}
      {{/paper-button}}
    </div>
    {{paper-icon icon }}
  </div>
  <div class="md-panel-summary">

    <div class="repository-header__chip {{unless repository.language 'repository-header__chip--dimmed'}}">
      {{#if repository.language }}
        {{ repository.language }}
      {{else}}
        Empty
      {{/if}}
    </div>

    <div class="repository-header__chip">
      {{ repository.branches.length }} {{if isSingular 'branch' 'branches' }}
    </div>

    <div class="repository-header__chip {{if repository.private 'repository-header__chip--private' }}">
      {{if repository.private 'Private' 'Public' }}
    </div>

  </div>
</div>