<div class="layout-row" data-test-repository-filters >

  {{#paper-switch
    value=filter.showPublic
    onChange=(action (mut filter.showPublic))
  }}
    Public
  {{/paper-switch}}

  {{#paper-switch
    value=filter.showPrivate
    onChange=(action (mut filter.showPrivate))
  }}
    Private
  {{/paper-switch}}

  <span class="flex"></span>

  {{#paper-select
    placeholder="Language"
    options=languages
    selected=filter.showLanguage
    onChange=(action (mut filter.showLanguage))
    as |language|
  }}
    {{ language }}
  {{/paper-select}}

</div>