.ember-application {
  background-color: #f7f7f7;
}

.md-button {
  transition: none;

  &.md-default-theme {

    &.md-focused {
      &:not([disabled]) {
        background-color: transparent;
      }
    }

    &.md-accent {

      &.md-raised {
        color: white;
      }

    }

  }

  &.md-default-theme:not([disabled]):hover,
  &:not([disabled]):hover {
    background-color: rgba(158, 158, 158, 0.05);
  }
}

md-expansion-panel {

  .md-ripple-container {
    display: none;
  }

  &.md-open {

    .md-list-item-inner {
      border-bottom: 1px solid rgba(0, 150, 136, 0.5);
    }

  }

}

md-menu-content {
  overflow: hidden;
  padding: 20px;
}

md-toolbar {
  &.md-default-theme {
    &:not(.md-menu-toolbar) {
      md-icon {
        color: #ffffff;
      }
    }
  }
}

md-switch {
  margin-right: 29px;

  &.md-default-theme {

    &.md-checked .md-bar {
      background-color: rgba(255, 152, 0, 0.7);
    }

    .md-label {
      font-size: 14px;
      color: #ffffff;
    }

  }

}

md-select, md-select:not([disabled]):focus {

  .md-select-icon {
    color: #ffffff;
  }

  .md-select-value {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    font-size: 14px;
    color: #ffffff;
  }

}

md-input-container {
  margin: 12px 0;
}
