$toolbar_height: 128px;

.app-header {
  height: $toolbar_height;
  position: relative;
  margin-bottom: 20px;

  .app-header__toolbar {
    height: $toolbar_height;
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  .md-toolbar-tools {
    padding: 0;
  }

}
