.error-message {
  margin-top: 10vh;
  text-align: center;

  .error-message__title {
    text-align: left;
    font-size: 34px;
    margin-bottom: 15px;
    margin-left: 20%;
  }

  .error-message__image {
    width: 80%;
    max-width: 344px;
  }

  .error-message__text {
    margin-top: 15px;
  }

}
