.organization-name {
  width: 80%;

  .organization-name__edit-button {
    font-size: 20px;
    display: flex;
    max-width: 100%;
    color: #ffffff;
    margin: 0;
    padding-left: 0;
    border-bottom: 1px solid color($accent, '500');
    min-width: 200px;
  }

  .organization-name__edit-icon {
    margin-left: 5px;
    position: relative;
    margin-left: 20px;
  }

  .organization-name__title {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;

    &.organization-name__title--dimmed {
      opacity: 0.5;
    }

  }

}

.organization-name__input {
  width: 300px;
  margin-bottom: 30px;
}

