.repository-header {

  width: 100%;

  .md-panel-title {
    min-width: inherit;
    max-width: inherit;
    font-weight: 400;
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .md-panel-summary {
    margin-bottom: 20px;
  }

  .repository-header__chip {
    display: inline-block;
    margin-right: 15px;
    background-color: #eeeeee;
    border-radius: 0px;
    padding: 0 15px;
    font-size: 11px;

    &.repository-header__chip--private {
      background-color: color($accent, '300');
    }

    &.repository-header__chip--dimmed {
      color: #c1c1c1;
    }
  }

  .repository-header__icon-button {
    margin-left: 3px;
    position: relative;
    top: -1px;
  }

  .repository-header__title {
    max-width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}
