.repo-branch {
  border-bottom: 1px solid #ededed;

  &:last-child {
    border-bottom: none;
  }

  .repo-branch__name {
    margin: 11px 0;
  }

  .repo-branch__link {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: 100;
    margin-left: 7px;

    &:hover {
      text-decoration: underline;
    }
  }

  .repo-branch__bullet {
    position: relative;
    top: -1px;
  }

}
