{{#if showLoading }}
  {{loading-indicator}}
{{else}}
  {{#each repositories as |repository| }}

    {{#paper-expansion-panel noink=true as |panel|}}
      {{#panel.collapsed noink=true }}
        {{repository-header repository=repository expanded=false }}
      {{/panel.collapsed}}

      {{#panel.expanded as |expanded|}}
        {{#expanded.header}}
          {{repository-header repository=repository expanded=true }}
        {{/expanded.header}}

        {{#expanded.content}}
          {{#each repository.branches as |branch| }}
            {{repo-branch branch=branch repository=repository }}
          {{/each}}
        {{/expanded.content}}

      {{/panel.expanded}}
    {{/paper-expansion-panel}}

  {{else}}
    {{no-data message='No repositories available' }}
  {{/each}}
{{/if}}