{{app-header
  onSetAuthKey=(route-action 'reloadOrganization')
}}

{{#app-grid}}

  {{#if errorMessage }}

    {{error-message message=errorMessage }}

  {{else if showLoadingIndication }}

    {{loading-indicator}}

  {{else}}

    {{outlet}}

  {{/if}}

{{/app-grid}}